$blue: #0d6efd;
$orange: #FFA500;
$orange-rgba: rgba(255, 165, 0, 0.8);

// Spinner
$spinner-width: 3rem;

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;

  .spinner-border {
    border-color: $orange transparent $orange transparent;
  }
}

// Container and Row
$container-max-widths: (
  md: 980px,
);

.container {
  .row {
    margin-top: 1rem;
  }
}

// DropDown
$dropdown-link-hover-bg: $orange-rgba;

// Table
$table-cell-vertical-align: middle;
$table-hover-bg: $orange-rgba;

.table {
  thead {
    position: sticky;
    top: 0;
    tr {
      th {
        background-color: $blue;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

@import "bootstrap";